* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #452c63;
}

a {
    color: #fff;
    text-decoration: none;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
}

.navbar ul li{
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a {
    color: black;
}

.intro {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 60px 9% 0;
    color: #fff;
}

.home-intro h1{
    font-size: 55px;
}

.home-intro h2{
    font-size: 32px;
    margin-top: -10px;
}

.home-intro p{
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-intro .btns{
    display: flex;
    align-items: center;
}

.cv {
    display: inline-block;
    align-items: center;
    padding: 10px 30px;
    background: purple;
    color: #fff;
    border: 2px solid purple;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0 0 10px plum;
}

.cv:hover {
    background: transparent;
    color: purple;
    box-shadow: none;
}

.home-intro .btns .socials {
    margin-left: 20px;
}

.home-intro .btns .socials a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid purple;
    border-radius: 50%;
    font-size: 20px;
    color: purple;
    margin: 0 8px;
}

.home-intro .btns .socials a:hover {
    background: transparent;
    color: purple;
    box-shadow: none;
}