/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #452c63;
}


a {
    color: #fff;
    text-decoration: none;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
}

.navbar ul li{
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a {
    color: black;
}

.intro {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 60px 9% 0;
    color: #fff;
}

.home-intro h1{
    font-size: 55px;
}

.home-intro h2{
    display: inline-block;
    font-size: 32px;
    margin-top: 10px;
}

.home-intro p{
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-intro h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px purple;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text{
    25%
    ,100% {
        display:none
    }
}

.home-intro h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid purple;
    color: purple;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
    10%
    ,100% {
        width: 0;
    }

    70%
    ,90% {
        width: 100%;
    }
}

.home-intro .btns{
    display: flex;
    align-items: center;
}

.cv {
    display: inline-block;
    align-items: center;
    padding: 10px 30px;
    background: purple;
    color: #fff;
    border: 2px solid purple;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0 0 10px plum;
}

.cv:hover {
    background: transparent;
    color: purple;
    box-shadow: none;
}

.home-intro .btns .socials {
    margin-left: 20px;
}

.home-intro .btns .socials a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid purple;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    margin: 0 8px;
}

.home-intro .btns .socials a:hover{
    background: transparent;
    color: purple;
    box-shadow: none;
}

/* Project Layout */
.projects {
    background: #452c63;
    padding: 60px 0;
}

.heading{
    text-align: center;
    color: #fff;
}

.projects-container {
    display: flex;
    align-items: auto;
    margin: auto;
    padding: 60px;
    color: #fff;
    justify-content: space-between;
    column-gap: 20px;
    
}
  
  .project {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    background: #212121;
    border: 2px solid #313131;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .project-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .proj.desc{
    font-weight: 700;
    font-size: 32px;
  }
  
  .proj.desc {
    line-height: 1.5;
  }
  
  .proj-btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: #0974f1;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .project:hover {
    box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
    border-color: #0974f1;
  }
  
  .proj-btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
  }
  
  .proj-btn:active {
    box-shadow: none;
  }
  
  